@import '../../variables';

.userForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.userForm .userForm-submitButton {
    background-color: $bgc-green;
    margin-left: auto;
    min-width: 85px;
    min-height: 24px;

    &:disabled {
        background-color: $bgc-button-disabled;
    }
}

.userForm-innerWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px 12px;

    border: $border-gray;
    border-radius: 8px;
}
