@import '../../variables';

$navbar-width: 152px;

.navbarContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    width: $navbar-width;
    padding: 36px 20px;

    background-color: $bgc-dark;
}

.contentContainer {
    margin-left: $navbar-width;

    min-height: 100vh;

    background-color: $bgc-light;
}
