@import '../../variables';

$navbar-width-full: 152px;
$navbar-width-reduced: 110px;

.navbarContainer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    width: $navbar-width-full;
    padding: 36px 20px;

    background-color: $bgc-dark;

    @media  screen and (max-width: 400px) {
        padding: 36px 10px;
        width: $navbar-width-reduced;
    }
}

.contentContainer {
    margin-left: $navbar-width-full;

    min-height: 100vh;

    background-color: $bgc-light;

    @media  screen and (max-width: 400px) {
        margin-left: $navbar-width-reduced;
    }
}
