@import '../../variables';

.usersPage {
    padding: 20px 30px 25px;

    @media screen and (max-width: 400px){
        padding: 20px 15px 25px;
    }
}

.usersPage-cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding-top: 15px;
    max-width: 420px;
}

.usersPage-title {
    font-weight: $fw-title;
    font-size: 14px;
    line-height: 1.14;
    color: $fc-dark;
}

.usersPage-usersCount {
    display: block;
    margin-left: auto;

    font-style: normal;
    font-weight: $fw-regular;
    font-size: 12px;
    line-height: 1.17;
    color: $fc-dark;
}

.usersPage-usersCount_empty {
    margin-left: 0;
}

.usersPage-usersCount_error {
    margin-left: 0;
    color: $fc-error;
}
