$bgc-dark: #bdbdbd;
$bgc-light: #ffffff;
$bgc-gray: #f3f3f3;
$bgc-blue: #4b51ef;
$bgc-green: #52cf4f;

$fc-light: #ffffff;
$fc-dark: #000000;
$fc-gray: #a3a3a3;
$fc-blue: #4b51ef;
$fc-error: #d91313;

$fw-title: 700;
$fw-regular: 400;

$border-input-error: 1px solid d91313;
$border-input-regular: 1px solid #d8d8d8;
